/* Small screens (default) */
html { font-size: 100%; }

/* Medium screens (640px) */
@media (min-width: 40rem) {
  html { font-size: 112%; }
}

/* Large screens (1024px) */
/*@media (min-width: 64rem) {
  html { font-size: 120%; }
}*/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.color-primary-0 { color: #FA8400 }	/* Main Primary color */
.color-primary-1 { color: #FFBE75 }
.color-primary-2 { color: #FF9E31 }
.color-primary-3 { color: #BC6300 }
.color-primary-4 { color: #7F4300 }

@import "compass/css3";

/*style for hidden modal*/

.overlay {
	width: 100%;
	height: 2000px;
	color: #fff;
	background: #e74c3c;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
	display: none;
}

.explanation {
	color: #fff;
	background: #e74c3c;
	position: relative;
	height: auto;
	width: 600px;
	border-radius: 3px;
	top: 15%;
	margin: auto auto;
	border: 1px solid rgba(0,0,0,0.1);
}

.explanation h2 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.explanation h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.explanation > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.explanation > div p {
	margin: 0;
	padding: 10px 0;
	line-height: 2em;
	text-align: justify;
}

.explanation > div ul {
	margin-bottom: -30px;
	padding: 0 0 30px 20px;
	text-align: left;
}

.explanation > div ul li {
	padding: 5px 0;
	display: block;
	list-style-type: disc;
	line-height: 1.5em;
}

.explanation > div ul li strong{
	text-decoration: underline;
}

.explanation > div a {
	font-size: 0.8em;
	background: #1F253D;
	color: #95a5a6;
	padding: 0.5em 2em;
	margin-bottom: 50px;
	border-radius: 3px;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  background-color: #FF9E31;
  font-weight: bold;
  text-align: center;
//  border: 3px solid grey;
  justify-content: center;
}

.container > h1 {
  margin: 0;
}

.item {
  height: 16rem;
  width: 24rem;
  background-color: #FFBE75;
  text-align: left;
  margin: 1rem;
  padding: 0.75rem;
  border: 3px solid black;
}


.aside {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  background-color: #7F4300;
}

.left {
  position: fixed;
}

.main {
  margin: 7rem 0;
}

.right {
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.userDisplay, .countdown {
  margin: 0 auto;
}

.button {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid black;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.button:hover {
    background-color: #FFBE75;
    color: white;
}

#test {
  display: none;
}

li {
  list-style-type: none;
}

p {
  margin: 0.25rem 0;
}

.selected {
  background-image: url(../images/More_2.png);
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  display: block;
  float: left;
}

.notselected {
  background-image: url(../images/Less.png);
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  display: block;
  float: left;
}

@media (min-width: 64rem) {
  .wrapper {
    flex-direction: row;
  }

  .left, .right {
    position: static;
  }

  .counter, .timer {
    position: fixed;
    top: 5rem;
  }

  .counter {
    margin: 0 -3.4rem;
  }

  .timer {
    margin: 0 -4rem;
  }

  .main {
    margin: 0;
  }

  .aside {
    max-width: 20rem;
  }
}
